*{
padding:0;
margin:0;		
}

.main{
display:flex;
background-color:navy;
justify-content:space-between;
padding:20px;
}

.heading{
color:gold;
font-weight:bold;	
}

.navchild{
display:flex;

justify-content:end;
align-items:center;
font-size:22px;
font-weight:bold;
gap:25px;
}


a{
text-decoration:none;
	color:gold;
	margin-right:10px;
}


.hello{
	color:white;
	font-size:40px;
}

@media screen and (max-width:768px){
	.navchild{
		display:none;
	}	
}

@media screen and (min-width:768px){
	.hello{
display:none;
	}
	
}


body{
background-color:#f6b737;	
	
}
.main-section{
	margin:10%;
	background-color:#FFFFFF;
	padding:20px;
	box-shadow:4px 8px 6px 5px  black;
	
}

.me{
	display:flex;
	gap:20px;
	font-size:20px;
	color:white;
}
img{
	width:150px;
	border:10px solid white;
	transform:rotate(3deg);
	box-shadow:4px 5px black;
}
.about{
	display:flex;
	flex-direction:column;
	gap:10px;
    justify-content:center;
}
.heading2{
	color:green;
	font-weight:bold;
		
}
button{
	display:flex;
	justify-content:center;
	align-items:center;
	width:150px;
	height:40px;
	background-color:blue;
	border-radius:10px;
	color:white;
	font-weight:bold;
	font-size:15px;
	margin-top:20px;
}
p{
	color:navy;
	font-weight:bold;
	font-size:19px;
	margin-top:10px;
}
h3{
	border-left:3px solid green;
	color:navy;
	font-size:18px;
	padding:3px;
}
.name{
	color:#f6b737;
	
}